services:
  - type: docker
    name: gastroreview-gateway
    plan: free
    env: docker
    buildCommand: docker build -t api-gateway .
    startCommand: java -jar /app/app.jar --server.port=${PORT:-8080} --eureka.instance.hostname=${RENDER_EXTERNAL_HOSTNAME:localhost} --eureka.client.serviceUrl.defaultZone=${EUREKA_SERVER_URL:http://localhost:8761/eureka/}
    envVars:
      - key: PORT
        value: "8080"
      - key: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
        value: https://gastroreview-eureka-447g.onrender.com/eureka/
      - key: EUREKA_INSTANCE_HOSTNAME
        value: api-gateway
