services:
  - type: docker
    name: gastroreview-gateway
    plan: free
    env: docker
    buildCommand: docker build -t api-gateway .
    startCommand: java -jar /app/app.jar --spring.application.name=api-gateway --server.port=${PORT} --eureka.instance.hostname=${EUREKA_INSTANCE_HOSTNAME} --eureka.client.serviceUrl.defaultZone=${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE} --spring.cloud.gateway.discovery.locator.enabled=true
    envVars:
      - key: PORT
        value: "8080"
      - key: EUREKA_INSTANCE_HOSTNAME
        value: api-gateway
      - key: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
        value: https://gastroreview-eureka-447g.onrender.com/eureka/
      - key: SERVER_PORT
        value: "8080"
